/* Add application styles & imports to this file! */
.background-app{
  background-color: #fff;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Estilos para el comopenete header*/
.header-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  border: solid #000 2px;
  top:0;
  padding-top: 20px;
  width: 100%;
  height: 200px;
  z-index: 999;
}

.header-logo img {
  width: 150px;
  height: 100px;
}

.header-title {
  text-align: center;
  color: white;
}



/*Estilos para el componente RightSideBar*/

.rightsidebar {
  position: fixed;
  padding-top: 10px;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #f2f2f2;
}

.rightsidebar nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rightsidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rightsidebar li {
  padding: 10px;
}

.rightsidebar a {
  text-decoration: none;
  color: #333;
}

.rightsidebar a:hover {
  background-color: #ddd;
}

/*Estilos para el componente LeftSideBar*/

.leftsidebar {
  position: fixed;
  padding-top: 10px;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: #f2f2f2;
}

.leftsidebar nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.leftsidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.leftsidebar li {
  padding: 10px;
}

.leftsidebar a {
  text-decoration: none;
  color: #333;
}

.leftsidebar a:hover {
  background-color: #ddd;
}

/*Estilos para el componente footer/*/
.footer-container {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content{
  max-width: 960px;
  margin: 0 auto;
}

.footer-p {
  margin: 0;
}

/* Estilos para el componentes content */
.content-container{
  margin-top: 210px;
  margin-left: 200px;
  margin-right: 250px;
  margin-bottom: 100px;

  padding-top: 10px;

}